<ul>
    {% for item in menu.items.all %}
        <li>
            <a href="{% if item.url %}{{ item.url }}{% elif item.named_url %}{{ item.get_named_url }}{% endif %}">
                {{ item.name }}
            </a>
            {% if item.children.exists %}
                <ul>
                    {% for child in item.children.all %}
                        <li>
                            <a href="{% if child.url %}{{ child.url }}{% elif child.named_url %}{{ child.get_named_url }}{% endif %}">
                                {{ child.name }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        </li>
    {% endfor %}
</ul>
